/* _header.scss*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index_header;
  display: flex;
  border-bottom: 2px #E5E5E5 solid;
  background: #fff;

  &.dark {
    background: #333;
  }

  @media (min-width: $breakpoint_lg) {
    height: $height_header_lg;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    background: inherit;

    @media (min-width: $breakpoint_md) {
      max-width: $max_width_md;
      margin: 0 auto;
      padding: 10px 0;
    }

    @media (min-width: $breakpoint_lg) {
      max-width: $max_width_lg;
    }

    @media (min-width: $breakpoint_xl) {
      max-width: $max_width_xl;
    }
  }

  &__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: inherit;

    @media (min-width: $breakpoint_lg) {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    display: block;
    height: 30px;

    svg {
      height: 100%;
      width: 100%;
    }

    @media (min-width: $breakpoint_lg) {
      height: 40px;
    }
  }

  &__menu {
    position: fixed;
    top: $height_header_xs;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index_menu;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    opacity: 0;
    transition: transform .5s, opacity 0.2s ease-out;
    transform: translateY(-110%);
    background: inherit;

    &.active {
      opacity: 1;
      transition: transform .5s, opacity .5s ease-in;
      transform: translateY(0);
    }

    @media (min-width: $breakpoint_lg) {
      position: static;
      transform: translateY(0);
      flex-direction: row;
      justify-content: flex-end;
      opacity: 1;
      transition: transform 0.5s;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #E5E5E5;
    padding-left: 15px;

    @media (min-width: $breakpoint_lg) {
      flex-basis: content;
      margin-left: 40px;
      height: 100%;
      border: none;
      text-align: right;
      padding: 0;
    }

    @media (min-width: $breakpoint_xl) {
      margin-left: 50px;
    }

    button {
      @media (min-width: $breakpoint_lg) {
        overflow: hidden;
        font-size: 20px;

        &::after {
          content: '';
          display: block;
          height: 2px;
          background: currentColor;
          transition: transform 0.5s;
          transform: translateX(-110%);
        }

        &:hover {
          &::after {
            transition: transform 0.5s;
            transform: translateX(0);
          }
        }
      }
    }

    span {
      font-size: 24px;

      @media (min-width: $breakpoint_md) {
        font-size: 20px;
      }
    }
  }

  &__theme {
    height: 100%;

    @media (min-width: $breakpoint_lg) {
      margin-left: 40px;
    }

    @media (min-width: $breakpoint_xl) {
      margin-left: 50px;
    }
  }

  &__burger {
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 20px;

    @media (min-width: $breakpoint_lg) {
      display: none;
    }

    span {
      display: block;
      height: 2px;
      width: 100%;
      background: currentColor;
      transition: background 0.2s;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      background: currentColor;
      transition: transform 0.5s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active {
      span {
        background: transparent;
      }

      &::before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &::after {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
    }
  }
}