/* _progressBar.scss */

.progress-bar {
  position: fixed;
  top: $height_header_xs - 2px;
  z-index: $z-index_progress-bar;
  width: 0;
  height: 2px;
  background: #222;


  @media (min-width: $breakpoint_lg) {
    top: $height_header_lg - 2px;
  }
}